[submodule "auth-service"]
	path = auth-service
	url = https://github.com/Kernel-Panic-FatecSjc/KP-3DSM-API-auth-service.git
[submodule "projeto-service"]
	path = projeto-service
	url = https://github.com/Kernel-Panic-FatecSjc/KP-3DSM-API-projeto-service.git
[submodule "apontamentohoras-service"]
	path = apontamentohoras-service
	url = https://github.com/Kernel-Panic-FatecSjc/KP-3DSM-API-apontamentohoras-service.git
[submodule "usuario-service"]
	path = usuario-service
	url = https://github.com/Kernel-Panic-FatecSjc/KP-3DSM-API-usuario-service.git
[submodule "task-service"]
	path = task-service
	url = https://github.com/Kernel-Panic-FatecSjc/KP-3DSM-API-task-service.git
